<?xml version='1.0' encoding='utf-8'?>
<widget id="com.testplatform.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>个人所得税</name>
    <description>个人所得税移动端应用</description>
    <author email="dev@localhost" href="https://localhost">Tax Bureau Team</author>
    <content src="index.html" />
    
    <!-- 全局图标配置 -->
    <icon src="res/icon/icon.png" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="loadUrlTimeoutValue" value="120000" />
    <!-- 允许加载 http:// 站点（非 HTTPS）；若以后改为全站 HTTPS 可去掉此段 -->
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>
